@media (orientation: portrait) {

/* main/header */
body {
    background: black;
    transition: background 0.5s;
    height: 100vh;
}

html {
    transition: background 0.5s;
}

h1, p {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    width: 90%;
}

h2 span {
    font-size: 1.388888vh;
    font-weight: normal;
}

#howToPlay {
    font-size: 1.57407vh;
}

#themeContainer {
    color: white;
}

* {
    font-family: 'Chivo', Geneva, Tahoma, sans-serif;
    box-sizing: content-box;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*the three boxes in the middle*/
#docColor, #userColor {
    width: 45%;
    height: 23.14814814vh;
    display: none;
    margin-bottom: 4.62962962963vh;
    margin-left: 2.60416666667vw;
    margin-right: 2.60416666667vw;
    padding: 1.38888888889vh 0.78125vw;
    text-align: center;
    color: white;
    font-size: 3.7037037037vh;
    -webkit-text-stroke: 2px black;
    border-radius: 10%;
    border: 1px solid white;
    transition: transform 0.5s;
}

#timerDisplay {
    width: 90%;
    height: 17.5%;
    display: none;
    margin-bottom: 4.62962962963vh;
    margin-left: 2.60416666667vw;
    margin-right: 2.60416666667vw;
    padding: 2.31481481481vh 1.30208333333vw;
    text-align: center;
    color: white;
    font-size: 2.31481481481vh;
    border-radius: 10%;
    border: 1px solid white;
    background-color: black;
}

#easyHighText, #mediumHighText, #hardHighText {
    display: none;
}

#mobileTimer {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#colorsContainer {
    display: flex;
    justify-content: center;
}

.submitContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* buttons */
.buttonContainer  {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#submitButton, #retryButton, #difficultyButton {
    margin: 1.38888888889vh auto;
    padding: 0.925925925926vh 0.520833333333vw;
    text-align: center;
    font-size: 1.85185185185vh;
    width: 90%;
    border: 1px solid white;
    display: none;
    color: white;
    box-shadow: 1px 2px 4px black;
    -webkit-transition: .5s;
    transition: box-shadow .5s;
    transition: opacity .5s;
}

#startButton {
    text-align: center;
    width: 50%;
    height: 25%;
    padding: 2.31481481481vh 1.30208333333vw;
    font-size: 1.85185185185vh;
    color: black;
    background-color: white;
    border: 1px solid black;
    position: relative;
    opacity: 0.5;
    box-shadow: 1px 2px 4px black;
    -webkit-transition: .5s;
    transition: box-shadow .5s;
    transition: opacity .5s;
    margin: 0.462962962963vh 0.520833333333vw;;
}

#easyButton, #hardButton {
    text-align: center;
    width: 90%;
    height: 25%;
    padding: 2.31481481481vh 1.30208333333vw;
    font-size: 1.85185185185vh;
    color: black;
    background-color: white;
    border: 1px solid black;
    position: relative;
    opacity: 0.5;
    box-shadow: 1px 2px 4px black;
    -webkit-transition: .5s;
    transition: box-shadow .5s;
    transition: opacity .5s;
    margin: 0.462962962963vh 0.520833333333vw;;
}

#mediumButton {
    text-align: center;
    width: 90%;
    height: 25%;
    padding: 2.31481481481vh 1.30208333333vw;
    font-size: 1.85185185185vh;
    color: black;
    background-color: white;
    border: 1px solid black;
    position: relative;
    opacity: 1;
    box-shadow: 1px 2px 4px black;
    transition: box-shadow .5s, opacity .5s;
    margin: 0.462962962963vh 0.520833333333vw;
    text-decoration: underline;
}



/* sliders */
.slideContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider:hover {
    opacity: 1;
}

.slider {
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    display: none;
    margin-bottom: 1.85185185185vh;
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 2.77777777778vh;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8vw;
    height: 4vh;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 8vw;
    height: 4vh;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

#red {
    background: darkred;
    border: 2px solid white;
}

#green {
    background: darkgreen;
    border: 2px solid white;
}

#blue {
    background: darkblue;
    border: 2px solid white;
}

#red::-webkit-slider-thumb {
    background: red;
}
    
#red::-moz-range-thumb {
    background: red;
}

#green::-webkit-slider-thumb {
    background: green;
}
    
#green::-moz-range-thumb {
    background: green;
}

#blue::-webkit-slider-thumb {
    background: blue;
}
    
#blue::-moz-range-thumb {
    background: blue;
}

/* footer */
#footerSection {
    bottom: 50%;
}

}





@media (orientation: landscape) {

/* main/header */
body {
    background: black;
    transition: background 0.5s;
    height: 100vh;
}

html {
    transition: background 0.5s;
}

h1 {
    font-size: 5vh;
}

h1, p {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    width: 60%;
}

h2 span {
    font-size: 1.388888vh;
    font-weight: normal;
}

#howToPlay {
    font-size: 1.57407vh;
}

#themeContainer {
    color: white;
}

* {
    font-family: 'Chivo', Geneva, Tahoma, sans-serif;
    box-sizing: content-box;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*the three boxes in the middle*/
#docColor, #userColor {
    width: 13.020833vw;
    height: 23.14814814vh;
    display: none;
    margin-bottom: 4.62962962963vh;
    margin-left: 2.60416666667vw;
    margin-right: 2.60416666667vw;
    padding: 1.38888888889vh 0.78125vw;
    text-align: center;
    color: white;
    font-size: 3.7037037037vh;
    -webkit-text-stroke: 2px black;
    border-radius: 10%;
    border: 1px solid white;
    transition: transform 0.5s;
}

#timerDisplay {
    width: 13.020833vw;
    height: 23.14814814vh;
    display: none;
    margin-bottom: 4.62962962963vh;
    margin-left: 2.60416666667vw;
    margin-right: 2.60416666667vw;
    padding: 2.31481481481vh 1.30208333333vw;
    text-align: center;
    color: white;
    font-size: 2.31481481481vh;
    border-radius: 10%;
    border: 1px solid white;
    font-weight: bold;
    background-color: black;
}

#easyHighText, #mediumHighText, #hardHighText {
    display: none;
}

#colorsContainer {
    display: flex;
    justify-content: center;
}

.submitContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}



/* buttons */
.buttonContainer  {
    display: flex;
    justify-content: center;
}

#submitButton, #retryButton, #difficultyButton {
    margin: 1.38888888889vh auto;
    padding: 0.925925925926vh 0.520833333333vw;
    text-align: center;
    font-size: 1.85185185185vh;
    width: 30%;
    border: 1px solid white;
    display: none;
    color: white;
    opacity: 0.5;
    box-shadow: 1px 2px 4px black;
    -webkit-transition: .5s;
    transition: box-shadow .5s;
    transition: opacity .5s;
}

#startButton {
    text-align: center;
    width: 7.8125vw;
    height: 6.94444444444vh;
    padding: 2.31481481481vh 1.30208333333vw;
    font-size: 1.85185185185vh;
    color: black;
    background-color: white;
    border: 1px solid black;
    position: relative;
    opacity: 0.5;
    box-shadow: 1px 2px 4px black;
    -webkit-transition: .5s;
    transition: box-shadow .5s;
    transition: opacity .5s;
    margin: 0.462962962963vh 0.520833333333vw;;
}

#easyButton, #hardButton {
    text-align: center;
    width: 7.8125vw;
    height: 13.8888888889vh;
    padding: 2.31481481481vh 1.30208333333vw;
    font-size: 1.85185185185vh;
    color: black;
    background-color: white;
    border: 1px solid black;
    position: relative;
    opacity: 0.5;
    box-shadow: 1px 2px 4px black;
    -webkit-transition: .5s;
    transition: box-shadow .5s;
    transition: opacity .5s;
    margin: 0.462962962963vh 0.520833333333vw;;
}

#mediumButton {
    text-align: center;
    width: 7.8125vw;
    height: 13.8888888889vh;
    padding: 2.31481481481vh 1.30208333333vw;
    font-size: 1.85185185185vh;
    color: black;
    background-color: white;
    border: 1px solid black;
    position: relative;
    opacity: 1;
    box-shadow: 1px 2px 4px black;
    transition: box-shadow .5s, opacity .5s;
    margin: 0.462962962963vh 0.520833333333vw;
    text-decoration: underline;
}

#startButton:hover, #submitButton:hover, #retryButton:hover, #difficultyButton:hover, #easyButton:hover, #mediumButton:hover, #hardButton:hover {
    opacity: 1;
    box-shadow: 1px 2px 4px white;
}



/* sliders */
.slideContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider:hover {
    opacity: 1;
}

.slider {
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    display: none;
    margin-bottom: 1.85185185185vh;
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 2.77777777778vh;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.08333333333vw;
    height: 3.7037037037vh;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2.08333333333vw;
    height: 3.7037037037vh;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

#red {
    background: darkred;
    border: 2px solid white;
}

#green {
    background: darkgreen;
    border: 2px solid white;
}

#blue {
    background: darkblue;
    border: 2px solid white;
}

#red::-webkit-slider-thumb {
    background: red;
}
  
#red::-moz-range-thumb {
    background: red;
}

#green::-webkit-slider-thumb {
    background: green;
}
  
#green::-moz-range-thumb {
    background: green;
}

#blue::-webkit-slider-thumb {
    background: blue;
}
  
#blue::-moz-range-thumb {
    background: blue;
}

/* footer */
#footerSection {
    bottom: 50%;
}

}

/* reset */
html, body, div, span, applet, object, iframe, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}