* {
    box-sizing: border-box !important;
}

body {
    color: white;
    font-family: 'Chivo', Geneva, Tahoma, sans-serif; 
}

html {
    background: black;
    transition: background 0.5s;
}

.spacer {
    margin-bottom: 10vh;
    border: 1px solid black;
}

h1 {
    font-size: 8.5vw;
    margin-bottom: 3vh;
    text-align: center;
}

#streak, #highscore {
    text-decoration-line: underline;
}

.streak {
    color: white;
    text-align: center;
}

.button {
    width: 15vh;
    height: 10vh;
    margin: 3vh auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5vw;
    border: 1px solid white;
}

table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    border: 1px solid white;
    color: white;
    height: 4.5vh;
    width: 4.5vh;
    text-align: center;
    padding-top: 1vh;
    transition: opacity 0.25s;
    display: none;
    transition: border-color 0.25s;
}

td {
    margin: 0.25vh 0.25vw;
}

.pressedRight {
    border-color: green !important;
}

.pressedWrong {
    border-color: red !important;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    text-align: center;
}

.hangmanContainer {
    display: none;
    justify-content: center;
    border: 1px solid white !important;
    height: 15vh;
    width: 75vw;
    margin: 5vh auto;
}

.wordContainer {
    height: 15vh;
    color: white;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 2.5vw;
}

#endText {
    width: 100%;
    display: none;
    text-align: center;
    font-size: 2.5vw;
    color: white;
    height: auto;
    margin-top: 3vh;
}

#retryButton {
    width: 50%;
    display: none;
    text-align: center;
    font-size: 2.5vw;
    color: white;
    height: auto;
    border: 1px solid white;
    margin: 5vh auto;
    cursor: pointer;
    transition: opacity 0.25s;
}

#retryButton:hover {
    opacity: 0.5;
}


@media (orientation: landscape) {

.hangmanContainer {
    display: none;
    justify-content: center;
    border: 1px solid white !important;
    height: 12.5vh;
    width: 50vw;
    margin: 5vh auto;
}

.button {
    width: 30vh;
    height: 15vh;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    cursor: pointer;
    font-size: 3vw;
}

h1 {
    font-size: 6vw;
}

.button:hover {
    color: #000;
    background-color: #bbb;
}

.tile {
    cursor: pointer;
}

.tile:hover {
    opacity: 0.75;
    border-color: blue;
}

.wordContainer {
    font-size: 1vw;
}

}