@media (orientation: landscape) {

* {
    box-sizing: border-box;
}

/* main */
#grad {
    background-image: linear-gradient(#e8d8d8 , #f8c2a6);
    height: 85vh;
}

#bioPhoto {
    border-radius: 10px;
    border: 15px solid white;
    position: relative;
    width: 26.04166vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    float: right;
    right: 7vw;
    top: 18vh;
}

.bioDescription {
    background-color: white;
    border-radius: 10px;
    border: 10px solid white;
    position: relative;
    padding: 4.6295vh 2.60415vw;
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    float: right;
    top: 22vh;
    right: 12vw;
}

#spacer {
    width: 50vw;
}

#quote {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 3vh;
    margin: 15px;
}

#quoteContainer {
    text-align: right;
}

.quote {
    font-size: 4vh !important;
    font-family: 'Times New Roman', Times, serif !important;
}

#mobileDiv {
    display: none;
}

}





@media (orientation: portrait) {

* {
    box-sizing: border-box;
}

html {
    background: #f8c2a6;
}

#grad {
    background-image: linear-gradient(#e8d8d8 , #f8c2a6);
    height: 100vh;
}

#bioPhoto {
    border-radius: 5px;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    border: 15px solid white;
    width: 90%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bioDescription {
    margin: 10% auto;
    background-color: white;
    border-radius: 5px;
    border: 5px solid white;
    padding: 4.6295vh 2.60415vw;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#spacer {
    width: 50vw;
}

#quote {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 2.75vh;
    margin: 15px;
}

#quoteContainer {
    text-align: center;
    margin-top: 15%;
}

.quote {
    font-size: 4vh !important;
    font-family: 'Times New Roman', Times, serif !important;
}

#mobileDiv {
    margin-bottom: 2vh;
    background-color: #f8c2a6;
    border: 1px solid #f8c2a6;
}

}