* {
    box-sizing: border-box;
}

/* header */
@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

nav {
    height: 6.5777vh;
    padding: 1.5vh 2vw;
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Verdana, sans-serif;
    font-size: 2.5vh;
    position: fixed;
    width: 100vw;
    z-index: 5;
    transition: background-color 1s;
}

.header {
    background-color: black;
}

nav a {
    padding: 0.46vh 0.26vw;
    opacity: 1;
    text-decoration: none;
    color: lightpink;
    text-align: center;
    margin: 0px 1.30vw;
    float: right;
}

#logo {
    float: left;
    color: lightpink;
    border: 3px solid lightpink;
    border-radius: 5px;
    font-family: 'Bodoni Moda', serif;
    transition: opacity 0.15s;
    opacity: 1;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    font-weight: 600;
}

#logo:hover {
    opacity: 0.5;
}

#navHome:hover, #navContact:hover, #navAbout:hover, #navGames:hover/*, #navProjects:hover*/ {
    color: lightpink;
    opacity: 0.5;
}

#navProjects {
    opacity: 0.5;
}

#navHome, #navContact, #navAbout, #navGames, #navProjects {
    transition: opacity 0.15s;
}

.current {
    color: lightpink;
    text-decoration-line: underline;
    opacity: 1 !important;
}

/* footer */
html {
    background-color:#f8c2a6;
    transition: background-color 0.15s;
}

.footer {
    background-color: white;
    animation: 1s ease-out 0s 1 slideInLeft;
}

footer section {
    position: fixed;
    bottom: 30%;
    left: 2.5%;
    margin: 0 auto;
    height: 15.802vw;
    width: 10.09vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 1s;
}

.btn {
    background-color: black;
    border: 1px solid lightpink;
    border: none;
    color: white;
    padding: 0.4166vh 0.3125vw;
    font-size: 1.4814vh;
    cursor: pointer;
    margin: 0.462vh 0.520vw;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: border 1s;
}

.btn img {
    width: 2.6041vw;
    height: 4.629vh;
    transition: width 0.15s, height 0.15s;
}

.btn img:hover {
    width: 3.125vw;
    height: 5.555vh;
}