* {
    box-sizing: border-box;
}

/* banner */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./images/banner.gif) center center no-repeat;
    background-size: cover;
    color: lightpink;
}
  
#learnMore {
    padding: 1.48148148vh 1.6666vw;
    font-size: 1.777vh;
    color: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: lightpink;
    font-family: Verdana, sans-serif;
    font-weight: light;
    border-radius: 5px;
    text-decoration: none;
    transition: font-size 0.15s;
}

#learnMore:hover {
    font-size: 2vh;
}
  
.banner h1 {
    padding-top: 1.644444vh;
    font-size: 30vh;
    text-shadow: 1px 1px 2px black;
    font-family: 'Vina Sans', cursive;
}

#downArrow {
    transform: rotate(90deg);
    width: 10%;
    height: 25%;
    position: absolute;
    bottom: -3vh;
}

.downArrowMoved {
    visibility: hidden;
}

.downArrow {
    visibility: visible;
    animation: 
        typing 3s steps(100, end) infinite;
}

@keyframes typing {
    0% { opacity: 0 }
    45% {opacity: 1 }
    90% { opacity: 0 }
    100% {opacity: 0 ;}
}

/* main */
#grad {
    background-image: linear-gradient(#e8d8d8 , #f8c2a6);
    height: 160vh;
}

.photo {
    border-radius: 10px;
    border: 15px solid white;
    position: relative;
    width: 26vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: width 0.15s;
}   

.photo:hover {
    width: 27vw;
}

.container {
    background-color: white;
    border-radius: 10px;
    border: 10px solid white;
    position: relative;
    width: 26vw;
    height: 46vh;
    padding: 9.259vh 5.2083vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container h1 {
    font-family: Merriweather, serif;
    font-size: 2.96296296vh;
    margin-bottom: 2.314vh;
}

.container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.48148148vh;
    line-height: 1.85185185vh;
}

#photoOne {
    float: right;
    right: 13.02vw;
    top: 2.75vh;
}

#containerOne {
    float: right;
    top: 17vh;
    right: 26vw;
}

#photoTwo {
    float: left;
    left: 13vw;
    top: 82vh;
}

#containerTwo {
    float: left;
    top: 52vh;
    left: 26vw;
}