@media (orientation: landscape) {

* {
    box-sizing: border-box;
    animation: 1s ease-out 0s 1 fadeIn;
}

html {
    background-color: black;
}

/* banner */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./images/banner.gif) center center no-repeat;
    background-size: cover;
    color: lightpink;
}
  
#learnMore {
    padding: 1.48148148vh 1.6666vw;
    font-size: 3vh;
    color: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 4px solid lightpink;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    border-radius: 5px;
    text-decoration: none;
    background-color: lightpink;
    transition: font-size 0.15s, background-color 0.15s, color 0.15s;
    letter-spacing: 0.5vw;
    visibility: hidden;
}

#learnMore:hover {
    font-size: 3.25vh;
    background-color: transparent;
    color: white;
}
  
.banner h1 {
    padding-top: 1.644444vh;
    font-size: 60vh;
    text-shadow: 1px 1px 2px black;
    font-family: 'Vina Sans', sans-serif;
}

#downText, #downArrow, #learnMore, .banner h1 {
    opacity: 0;
}

#navBar {
    transform: translateY(-100%)
}

#footer {
    transform: translateX(-200%)
}

.banner h1 {
    animation: 2s ease-out 1s 1 fontSize, 2s ease-out 1s 1 fadeInDelayed !important;
}

#learnMore {
    animation: 2s ease-out 1s 1 fadeInDelayed !important;
}

.slideinRight {
    animation: 1s ease-out 1s 1 slideInRight !important;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fontSize {
    0% {
        font-size: 60vh;
    }
    100% {
        font-size: 40vh;
    }
}

#navBar {
    animation: 1s ease-out 2.5s 1 slideInTop !important;
}

#footer {
    animation: 1s ease-out 2.5s 1 slideInLeft !important;
}

@keyframes fadeInDelayed {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#downArrow {
    width: 5%;
    height: 10%;
    z-index: 5;
    position: absolute;
    bottom: 4vh;
}

#downText {
    position: absolute;
    bottom: 3vh;
    color: white;
    font-family: 'Chivo', sans-serif;
    padding-bottom: 0.5vh;
    border-bottom: 0.1vh solid white;
    z-index: 5;
    font-size: 2vh;
}

.downArrowMoved {
    visibility: hidden;
}

.downTextMoved {
    visibility: hidden;
}

.downArrow, .downText {
    visibility: visible;
    animation: 
        blinkingScrollDown 3s steps(100, end) infinite;
}

@keyframes blinkingScrollDown {
    0% { opacity: 0 }
    45% {opacity: 1 }
    90% { opacity: 0 }
    100% {opacity: 0 ;}
}

/* main */
#grad {
    background-image: linear-gradient(#e8d8d8 , #f8c2a6);
    height: 135vh;
}

.photo {
    border-radius: 10px;
    border: 15px solid white;
    position: relative;
    width: 40vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: width 0.15s;
}   

.gamebtn {
    margin-top: 5%;
    border: 2px solid black;
    padding: 3% 10%;
    font-family: 'Chivo';
    color: black;
    transition: background-color 0.4s;
    text-decoration: none;
}

.gamebtn:hover {
    background-color: black;
    color: white;
}

#wip {
    opacity: 0.25;
}

#wip:hover {
    background-color: white;
    color: black;
}

.container {
    background-color: white;
    border-radius: 10px;
    border: 10px solid white;
    position: relative;
    width: 26vw;
    height: 46vh;
    padding: 4.5vh 2.5vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container h1 {
    font-family: Merriweather, serif;
    font-size: 5vh;
    margin-bottom: 2.314vh;
}

.container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vh;
    line-height: 2.5vh;
}

.photoOne {
    float: right;
    right: 10vw;
    top: 15.5vh;
}

#containerOne {
    float: right;
    top: 15vh;
    right: 16vw;
}

#photoTwo {
    float: left;
    left: 15vw;
    top: 30.5vh;
}

#containerTwo {
    float: left;
    top: 30vh;
    left: 21vw;
}

/* footer */
.discord, .gitHub, .email, .linkedIn {
    border: 1px solid lightpink;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

}





@media (orientation: portrait) {

* {
    box-sizing: border-box;
}

html {
    background-color: #f8c2a6;
}

/* banner*/
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./images/banner.gif) center center no-repeat;
    background-size: cover;
    color: lightpink;
}
  
#learnMore {
    display: none;
}
  
.banner h1 {
    text-align: center;
    padding-top: 1.644444vh;
    font-size: 15vh;
    text-shadow: 1px 1px 2px black;
    font-family: 'Vina Sans', sans-serif;
}

#downArrow {
    width: 20%;
    height: 10%;
    z-index: 5;
    position: absolute;
    bottom: 4vh;
    animation: blinkingScrollDown 3s steps(100, end) infinite;
}

#downText {
    position: absolute;
    bottom: 3vh;
    color: white;
    font-family: 'Chivo', sans-serif;
    padding-bottom: 0.5vh;
    border-bottom: 0.1vh solid white;
    z-index: 5;
    font-size: 2vh;
    animation: blinkingScrollDown 3s steps(100, end) infinite;
}

@keyframes blinkingScrollDown {
    0% { opacity: 0 }
    45% {opacity: 1 }
    90% { opacity: 0 }
    100% {opacity: 0 ;}
}

/* main */
#grad {
    background-image: linear-gradient(#e8d8d8 , #f8c2a6);
    height: 140vh;
}

.indexDiv {
    margin-bottom: 2vh;
    background-color: #e8d8d8;
    border: 1px solid #e8d8d8;
}

.indexDivBottom {
    margin-bottom: 2vh;
    background-color: #f8c2a6;
    border: 1px solid #f8c2a6;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  

.photo {
    display: block;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 10px solid white;
    width: 75%;
    height: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}   

.container {
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    border: 10px solid white;
    width: 75%;
    height: 50%;
    padding: 9.259vh 5.2083vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container h1 {
    font-family: Merriweather, serif;
    font-size: 6vh;
    margin-bottom: 2.314vh;
}

.container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.75vh;
    line-height: 2.5vh;
}

.gamebtn {
    margin-top: 5%;
    border: 2px solid black;
    padding: 3% 10%;
    font-family: 'Chivo';
    color: black;
    transition: background-color 0.4s;
    text-decoration: none;
}

#wip {
    opacity: 0.25;
}

}